<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/cache https://www.springframework.org/schema/cache/spring-cache-4.3.xsd">

<!-- DataSource cfg -->
	<bean id="oradmds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="username" value="system"/>
		<property name="password" value="manager"/>
	</bean>
	
	<!-- DataSource cfg -->
	<bean id="mysqldmds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql:///SBMS"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>
	
	<!-- 	DAO class cfg -->
	<bean id="oraCustDAO" class="com.kk.dao.CustomerOracleDAOImpl">
		<constructor-arg name="ds" ref="oradmds"/>
	</bean>
	
	<!-- 	DAO class cfg -->
	<bean id="mysqlCustDAO" class="com.kk.dao.CustomerMySqlDAOImpl">
		<constructor-arg name="ds" ref="mysqldmds"/>
	</bean>

	<!-- Service class cfg -->
	<bean id="custService" class="com.kk.service.CustomerServiceImpl">
<!-- 		<constructor-arg name="dao" ref="oraCustDAO"/> -->
			<constructor-arg name="dao" ref="mysqlCustDAO"/>
	</bean>
	
<!-- 	Controller class cfg -->
	<bean id="controller" class="com.kk.controller.MainController">
		<constructor-arg name="service" ref="custService"/>
	</bean>


</beans>
